#about {
  background-color: #f6f6f6;
  padding: 20px 0 30px 0;

  h2 {
    @include headings2();
    margin-bottom: 30px;

    @media (max-width: 486px) {
      font-size: 2.25rem;
    }
  }

  .box4 {
    @include flex(center, center);
    margin: 0 auto 40px auto;
    padding: 0 10px;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    figure {
      max-width: 600px;

      img {
        display: block;
        width: 100%;
      }
    }

    .box-text-about {
      max-width: 30.5em;

      @media (max-width: 991px) {
        margin-top: 30px;
      }

      h3 {
        font-family: $arial;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 15px;

        @media (max-width: 991px) {
          text-align: center;
        }
      }

      .text-about {
        @include paragraphs(0.8rem, start);
        margin-bottom: 20px;
      }
    }

    .alteracao {
      display: table;
      margin: 0 auto;

      ul {
        margin-bottom: 20px;

        li {
          color: #3f4348;
          padding-left: 10px;
          margin-bottom: 15px;

          span {
            color: #8bc34b;
            margin-right: 10px;
          }
        }
      }

      a {
        @include buttons;
        margin-left: 25px;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7);
        }
      }
    }
  }
}
