#about {
  background-color: #f6f6f6;
  padding: 20px 0 30px 0;

  h2 {
    font-family: $serif;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .box4 {
    @include flex(center, center);
    margin: 0 auto 40px auto;
    padding: 0 10px;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    figure {
      max-width: 600px;

      img {
        display: block;
        width: 100%;
      }
    }

    .box-text-about {
      max-width: 30.5em;

      @media (max-width: 991px) {
        margin-top: 30px;
      }

      h3 {
        font-family: $arial;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 15px;

        @media (max-width: 991px) {
          text-align: center;
        }
      }

      p {
        font-family: $roboto;
        color: $colorgray;
        font-size: 0.8rem;
        line-height: 1.5;
        margin-bottom: 20px;

        // @media (max-width: 768px) {
        //   text-align: center;
        // }
      }
    }

    .alteracao {
      display: table;
      margin: 0 auto;

      ul {
        margin-bottom: 20px;

        li {
          padding-left: 10px;
          margin-bottom: 15px;

          span {
            color: #8bc34b;
            margin-right: 10px;
          }
        }
      }

      a {
        display: inline-block;
        font-family: $arial;
        font-weight: bold;
        font-size: 0.9em;
        text-align: center;
        color: $white;
        background: $bg-color;
        margin-left: 25px;
        padding: 15px 30px;
        border-radius: 50px;
        transition: all 0.3s;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7);
        }
      }
    }
  }
}
