.box2,
.box3 {
  @include flex(center, center);
  padding: 0 10px;
  margin-bottom: 100px;

  @media (max-width: 425px) {
    margin-left: 5px;
    margin-right: 5px;
  }

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }

  img {
    width: 100%;
  }

  .text1 {
    margin-left: 50px;

    @media (max-width: 991px) {
      margin: 30px 0px 0 0;
    }

    h2 {
      font-family: $roboto;
      font-size: 2.5em;
      font-weight: 600;
      margin-bottom: 30px;

      @media (max-width: 456px) {
        font-size: 2.25em;
      }
    }

    p {
      font-family: $roboto;
      color: $colorgray;
      font-size: 1em;
      line-height: 1.5;
    }

    .minbox {
      max-width: 25em;
      box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 20px;
      margin-top: 20px;
      border: 1px solid #eee;
      border-left: 10px solid $border-color;

      @media (max-width: 991px) {
        max-width: 56.25em;
      }

      img {
        max-width: 50px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
        margin-bottom: 25px;
      }

      .strong {
        display: inline-block;

        .name {
          font-size: 1.2em;
          line-height: 1.5;
        }
      }

      cite {
        display: block;
        color: $colorgray;
        font-size: 1em;
        line-height: 1.5;
        padding-left: 5px;
      }
    }
  }
}

.box3 {
  flex-direction: row-reverse;
}
