.bg {
    background: url('../img/hero_1.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .7;
      background: linear-gradient(to right, #4286f4 0%, #42e2f4 100%);
    }
  }

  #contact {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;

    h2 {
      @include headings2(300, center, 2.5rem);
      margin-bottom: 30px;
      padding-top: 50px ;
      color: #fff;

      @media (max-width: 486px) {
        font-size: 2.25rem;
      }
    }

    .contactform {
      max-width: 45em;
      background: #fff;
      margin: 0 auto;
      padding: 30px;
      border-radius: 5px;
      z-index: 1;

      @media (max-width: 740px) {
        margin: 0 10px;
      }

      @media (max-width: 400px) {
        padding: 30px 15px;
        margin: 0 5px;
      }

      form {
        @include flex(flex-start, stretch);
        flex-direction: column;

        h3 {
          margin: 0px 0 10px 0;
          font-weight: 100;
          font-size: 1.5rem;
        }

        .name-lastname {
          @include flex(flex-start, stretch);
          width: 100%;

          @media (max-width: 740px) {
            flex-wrap: wrap;
          }

          .names {
            width: 49%;
            transition: all .3s;

            @media (max-width: 740px) {
              width: 100%;
            }

            &:first-child {
              margin-right: 15px;
              @media (max-width: 740px) {
                margin-right: 0px;
              }
            }

            label {
              display: block;
              margin-top: 20px;
              @media (max-width: 740px) {
                margin-top: 10px;
              }
            }
          }
        }

        label {
          user-select: none;
          margin: 10px 0;
        }

        [type=email], [type=text] {
          width: 100%;
          height: 35px;
          padding-left: 10px;
          border: 1px solid #ced4da;
          color: #495057;
          font-size: 1rem;
          line-height: 1.5;
          border-radius: 2px;
          transition: all 0.3s;

          &:focus {
            border-color: $border-color;
          }
        }

        textarea {
          resize: vertical;
          padding-left: 5px;
          border: 1px solid #ced4da;
          color: #495057;
          font-size: 1.2rem;
          line-height: 1.2;
          border-radius: 2px;
          transition: all 0.3s;

          &:focus {
            border-color: $border-color;
          }
        }

        [type=submit] {
        font-family: $arial;
        display: inline-block;
        margin: 30px 0 0 0;
        padding: 13px 0;
        width: 9.375em;
        border: none;
        background: $bg-color;
        color: #fff;
        font-size: 0.9rem;
        line-height: 1.2;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7);
          }
        }
      }
    }
  }

  .abner {
    font-size: 1rem;
    text-align: center;
    color:#3f4348;
    margin-bottom: 10px;
    padding: 0 10px;
  }