.bg {
    background-image: url(../img/hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .7;
      background: linear-gradient(to right, #4286f4 0%, #42e2f4 100%);
    }
  }
  
  
  #contact {
    padding-bottom: 120px;
    margin-bottom: 20px;
    position: relative;
  
    h2 {
      font-family:$serif;
      text-align: center;
      font-size: 2.5em;
      font-weight: 300;
      margin-bottom: 40px;
      padding-top: 50px ;
      color: $white;
    }
  
    .contactform {
      max-width: 45em;
      background: $white;
      margin: 0 auto;
      padding: 0 30px;
      z-index: 1;
  
      form {
        @include flex(flex-start, stretch);
        flex-direction: column;
  
        h3 {
          margin: 40px 0 10px 0;
          font-weight: 100;
          font-size: 1.5em;
        }
  
        .vai {
          @include flex(flex-start, stretch);
          width: 100%;
          
          @media (max-width:425px) {
            flex-wrap: wrap;
          }

          .names {
            width: 49%;

            @media (max-width:425px) {
              width: 100%;
            }
            
            &:first-child {
              margin-right: 15px;
              @media (max-width:425px) {
                margin-right: 0px;
              }
            }

            [type=text] {
              width: 100%;
              height: 35px;
              padding-left: 10px;
              border: 1px solid #ced4da;
              color: #495057;
              font-size: 1em;
              line-height: 1.5;
              border-radius: 2px;
              transition: all 0.3s;
              
              &:focus {
                border-color:$border-color;
              }
              
              @media (max-width:425px) {
                width: 100%;
              }
    
            }
    
            label {
              display: block;
              margin-top: 20px;
            }
          }
        }
  
        label {
          margin: 10px 0;
        }
  
        [type=email], [type=text] {
          width: 100%;
          height: 35px;
          padding-left: 10px;
          border: 1px solid #ced4da;
          color: #495057;
          font-size: 1em;
          line-height: 1.5;
          border-radius: 2px;
          transition: all 0.3s;
  
          &:focus {
            border-color: $border-color;
          }
        }
  
        textarea {
          resize: vertical;
          padding-left: 5px;
          border: 1px solid #ced4da;
          color: #495057;
          font-size: 1.2em;
          line-height: 1.2;
          border-radius: 2px;
          transition: all 0.3s;
  
          &:focus {
            border-color: $border-color;
          }
        }
  
        [type=submit] {
        font-family: $arial;
        display: inline-block;
        width: 9.375em;
        margin: 30px 0 40px 0;
        padding: 13px 0;
        border: none;
        background: $bg-color;
        color: $white;
        font-size: 0.9em;
        line-height: 1.2;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s;
        
  
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7);
          }
        }
  
      }
    }
  
  }

  .abner {
    text-align: center;
    color:#808080;
    margin-bottom: 10px;
    padding: 0 10px;
  }