header {
  height: 60px;
  background-color: #fff;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

#cabecalho {
  @include flex(space-evenly, center);
  flex-wrap: wrap;
  padding: 6px 0 10px 0;

  @media (max-width: 730px) {
    justify-content: space-between;
  }

  h1 {
    font-family: $arial;
    font-weight: lighter;
    font-size: 2rem;
    margin: 0 0 8px 10px;

    a {
      color: #000;
    }

    span {
      color: #007bff;
    }
  }

  nav {
    ul {
      li {
        margin: 0 5px;
        @media (max-width: 730px) {
          margin: 5px 5px;
        }

        a {
          padding: 10px;
          font-size: 1rem;
          font-family: $arial;
          text-decoration: none;
          color: #000;
          transition: all 0.3s;

          @media (max-width: 730px) {
            padding: 5px;
          }

          &:hover {
            color:$color;
          }
        }

        .highlight {
          @include buttons;

          &:hover {
            color: #fff;
            transform: translateY(-2px);
            box-shadow: 0 5px 30px -5px rgba(66,133,244,.7);
          }
        }
      }
    }
  }
}