header {
    width: 100%;
    height: 60px;
    background-color: $white;
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    // position: fixed;
    // top: 0;
    z-index: 1;
  }  
#cabecalho {
  @include flex(space-between, center);
  flex-wrap: wrap;
  max-width: 50em;
  margin: 0 auto;
  padding: 6px 0 10px 0;

  h1 {
    font-family: $arial;
    font-weight: lighter;
    font-size: 2em;
    margin: 0 0 8px 10px;

    a {
      color: #000;
    }

    span {
      color: #007bff;
    }
  }

  nav {
    ul {
      
      li {
        display: inline-block;
        margin: 0 5px;
        @media (max-width: 730px) {
          margin: 5px 5px;
        }
          
        a {
          padding: 10px;
          font-size: 1em;
          font-family:$serif;
          text-decoration: none;
          color: #000;
          transition: all 0.3s;

          @media (max-width: 730px) {
            padding: 5px;
          }

          &:hover {
            color:$color;
          }
        }

        .highlight {
          font-family: Arial,Helvetica,sans-serif;
          display: inline-block;
          padding: 13px 30px;
          background: #4285f4;
          color: #fff;
          font-weight: bold;
          font-size: .9em;
          line-height: 1.2;
          border-radius: 20px;
          transition: all .3s;

          &:hover {
            color: #fff;
            transform: translateY(-2px);
            box-shadow: 0 5px 30px -5px rgba(66,133,244,.7);
          }
        }
      }
    }
  }
}