[data-modal="container"] {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    background: rgba(0, 0, 0, .5);
}

[data-modal="container"].active {
    display: flex;
    animation: initmodal .5s forwards;
}

@keyframes initmodal {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

[data-modal="content"] {
    width: 350px;
    position: relative;
    background: #fff;
    padding: 25px 40px 25px 40px;
    border-radius: 5px;
    box-shadow: 0 0 0 8px #4286f481;

    @media (max-width: 400px) {
        max-width: 280px;
    }
}

[data-modal="fechar"] {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #4285f4;
    box-shadow: 0 0 0 4px #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.form-modal label {
    display: inline-block;
    margin: 10px 0 10px 0;
    user-select: none;
}

.form-modal input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #ced4da;
    color: #495057;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &:focus {
        border-color: #4285f4;
    }
}

.form-modal .entrar {
    font-family: Arial,Helvetica,sans-serif;
    display: inline-block;
    width: 9.375em;
    margin: 25px 0 10px 0;
    padding: 13px 0;
    border: none;
    background: #4285f4;
    color: #fff;
    font-size: 0.9em;
    line-height: 1.2;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 30px -5px rgba(66 ,133 ,244, 0.7);
    }
}