#team {
  padding: 30px 0;

  .text-ourteam {
    padding: 0 10px;
    max-width: 500px;
    margin: 0 auto 20px auto;

    h2 {
      font-family: $serif;
      text-align: center;
      font-size: 2.8rem;
      font-weight: 300;

      @media (max-width: 456px) {
        font-size: 2.25rem;
      }
    }

    p {
      font-family: $roboto;
      text-align: center;
      color: $colorgray;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      margin: 15px 0 0 0;
    }
  }

  .team {
    @include flex(center, center);
    flex-wrap: wrap;
    max-width: 70em;
    margin: 0 auto;

    .box-founder {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 18.125rem;
      margin: 10px;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }

    h3 {
      font-family: "sans-serif";
      margin: 10px 0 5px 0;
    }

    .cargo {
      font-size: 0.7em;
      color: $color;
      margin-bottom: 8px;
    }

    p {
      color: #808080;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
