#ourteam {
    margin-top: 55px;
    margin-bottom: 50px;

    .text-ourteam {
      padding: 0 10px;

      h2 {
        font-family:$serif;
        text-align: center;
        font-size: 2.8em;
        font-weight: 300;

        @media (max-width: 456px) {
          font-size: 2.25em;
        }
      }
    
      p {
        font-family: $roboto;
        text-align: center;
        color: $colorgray;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.8;
        margin:15px 0 20px 0;
      }
    }
    .team {
      @include flex(center, center);
      flex-wrap: wrap;
      max-width: 70em;
      margin: 0 auto;
  
      .box5 {
        width: 18.125em;
        margin: 10px;
      }
    
      img {
        width: 100%;
      }
    
      h3 {
        font-family: "sans-serif";
        font-size: 1em;
        margin: 15px 0 10px 0;
      }
    
      .cargo {
        font-size: 0.6em;
        color: $color;
        margin-bottom: 20px;
      }
    
      p {
        color: #808080;
      }
    }
  }